---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Personal Card Portfolio Astro" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
	<Card
	  name="Christin Lazar"
	  position="SDE 1"
	  aboutMe={`Full Stack Developer with experience in building and scaling real-world applications using the MERN stack, along with Next.js and NestJS for modern, production-ready architectures. I’ve worked on delivering performant, secure, and user-friendly web solutions—ranging from e-commerce platforms to service-based applications and internal automation tools.

With a strong foundation in both frontend and backend development, I enjoy translating complex requirements into intuitive interfaces and scalable APIs. I’m driven by a passion for clean code, continuous learning, and creating products that solve real problems for real users.`}
	  linkedin="https://www.linkedin.com/in/christin-lazar-6b37b0260/"
	  github="https://github.com/Christinlazar11"
	  cvLink="https://drive.google.com/file/d/1MHVLcKH4X4sRSBLz8UkRKuv-P4mI_ES8/view?usp=sharing"
	  profileImage="/images/1748182506716.jpeg"
	/>
</BaseLayout>

<!--
	"Hi there!, I'm Brian. I hope this small template helps you gain visibility while you build great projects. Thank you for using it. I wish you success in everything you set out to do; you will surely achieve great things.

	Here is my GitHub {https://github.com/alcarazbrian}. You can help me by following me, giving a Star to the template, and sharing it so others can see and use it.

	Have a great day!"
 -->